name: polaris 
on: 
  push: 
    branches: [ master ] 

jobs: 
  # polaris: 
  #   runs-on: ubuntu-latest 
  #   steps: 
  #     - uses: actions/checkout@v2 
  #     - uses: actions/setup-java@v1 
  #       with: 
  #         java-version: 8 
  #     - name: polaris 
  #       run: | 
  #         curl -fLOsS $POLARIS_SERVER_URL/api/tools/polaris_cli-linux64.zip 
  #         unzip -d /tmp -jo polaris_cli-linux64.zip 
  #         /tmp/polaris analyze -w 
  #       env: 
  #         POLARIS_SERVER_URL: ${{ secrets.POLARIS_SERVER_URL }} 
  #         POLARIS_ACCESS_TOKEN: ${{ secrets.POLARIS_ACCESS_TOKEN }} 
  SCA: 
    runs-on: ubuntu-latest 
    steps: 
      - uses: actions/checkout@v2 
      - uses: actions/setup-java@v1 
        with: 
          java-version: 8 
      - name: polaris 
        run: |
          bash <(curl -s -L https://detect.synopsys.com/detect8.sh) --blackduck.url=$SYN_URL --blackduck.api.token=$SYN_TOKEN --detect.policy.check.fail.on.names="struts"
        env: 
          SYN_TOKEN: ${{ secrets.SYN_TOKEN }} 
          SYN_URL: ${{ secrets.SYN_URL }}           
